<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
<!--        <a class="nav-item nav-link" routerLink="/">Home</a>-->
      <a class="nav-item nav-link" routerLink="/open">Open</a>
        <a class="nav-item nav-link" routerLink="/closed">Closed</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<!--<div class="jumbotron">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6 offset-sm-3">-->
<!--                <alert></alert>-->
<!--                <router-outlet></router-outlet>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--Using routerlink in html-->
<!--<div class="tab">-->
<!--  <button class="tablinks" routerLink="/open">Open</button>-->
<!--  <button class="tablinks" routerLink="/closed">Closed</button>-->
<!--</div>-->

<!--Using router method in component-->
<!--<div class="tab">-->
<!--  <button class="tablinks" (click)="setTab('open')">Open</button>-->
<!--  <button class="tablinks" (click)="setTab('closed')">Closed</button>-->
<!--</div>-->

<router-outlet></router-outlet>
